.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  max-width: 500px;
  width: 80%;
}

.form-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 10px;
}

.text-input {
  height: 25px;
}

.radio-input {
  margin: 5px;
}

.heading {
  margin: 20px auto;
  text-align: center;
}

.error-message {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  color: red;
  min-height: 20px;
  margin-top: 3px;
}

.blocked {
  pointer-events: none;
  background-color: burlywood;
}
